<h2 class="mt-3 mb-2">New book</h2>
<%= form_with model: book, local: true do |f| %>
  <div class="mb-3">
    <div>Title</div>
    <%= f.text_field :title, class: "form-control w-80" %>
  </div>
  <div class="mb-3">
    <div>Opinion</div>
    <%= f.text_area :body, class: "form-control w-80" %>
  </div>
  <%= f.submit 'Create Book', class: "btn btn-success" %>
<% end %>